[project]
name = "word2vec-lda-week7"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gensim>=4.4.0",
    "matplotlib>=3.10.8",
    "scikit-learn>=1.8.0",
]
